.weatherContainer {
  background-color: #101744;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dateContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4ade;
  height: 4rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
