.mainContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #000000;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  place-content: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-sizing: border-box;
  padding: 1rem 4rem;
  background-color: #000000;
  color: white;
  gap: 2rem;
}

.leftGrid {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 2rem;
}

.subContainer {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 2rem;
}

.wrapper {
  display: grid;
  grid-template-rows: 5fr 3fr;
  gap: 2rem;
}
